Binaries/Win64/*
!Binaries/Win64/Krispy.dll
!Binaries/Win64/Krispy-Win64-DebugGame.dll
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
*.sln
*.sdf
*.suo
*.user
*.sln.docstates
*.opendb
*.db
Content/KiteDemo/*